/*Body Background */
body{

    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-smooth: antialiased;

}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #111111;
    font-weight: 400;
    font-family: "Quantico",sans-serif;
}

h1{
    font-size: 70px;
}
h2{
    font: size 36px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 16px;
}


/* Custom styles */
.navbar {
    margin-bottom: 20px;
}

.book-card {
    margin-bottom: 20px;
}

/* Additional custom styles can be added here */

